.AppContainer{
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(28,178,211);
  background: linear-gradient(135deg, rgba(28,178,211,1) 0%, rgba(0,226,255,1) 51%, rgba(207,10,200,1) 51%, rgba(255,0,229,1) 100%);
}